.card-block {
  box-shadow: $box-shadow;
  display: block;
  width: 140px;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
  background-color: $color-block0;

  &__label {
    @include font(1rem);
    color: #fff;

    &.none {
      display: none;
    }
  }

  .input.none {
    display: none;
  }

  input {
    width: 100%;
  }

  &__info {
    @include font(.875rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 15px 0;
    color: #fff;
  }
}


.card-block-container {
  $m: 8px;
  display: flex;
  overflow-x: scroll;
  margin-left: -$m;
  margin-right: -$m;
  padding-bottom: $m;

  > * {
    margin-left: $m;
    margin-right: $m;
  }

  .card-block {
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      background-color: $color-block0;
    }
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      background-color: $color-block1;
    }
    &:nth-child(3),
    &:nth-child(6) {
      background-color: $color-block2;
    }
  }
}
