.progress {
  display: flex;
  height: 100px;
  border-radius: 4px;

  .bar {
    flex: 1 1 1px;
    height: 100px;
    transition: flex-basis .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      color: #fff;
      font-size: 1rem;
    }

    @each $i in $color-blocks {
      $index: index($color-blocks, $i);
      $color: nth($color-blocks, $index);
      &:nth-child(#{$index}) {
        background-color: $color;
      }
    }
  }
}
