// breakpoints
$grids-breakpoints: (xs: 0, sm: 34em, md: 48em, lg: 62em);

// color
$color-black: #222;
$color-orange: #FAA51D;
$color-orange-dark: #FB6B3B;
$color-blue: #3baeff;

$color-bg: #DEE6E6;
$color-select: #fffff2;

$color-block0: #FACD1D;
$color-block1: #BFE76B;
$color-block2: #A4D6D7;

$box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

