// breakpoints
$grids-breakpoints: (xs: 0, sm: 34em, md: 48em, lg: 62em);

// color
$color-black: #222;
$color-orange: #FAA51D;
$color-orange-dark: #FB6B3B;
$color-blue: #3baeff;

$color-bg: #DEE6E6;
$color-select: #fffff2;

$color-blocks: (
	#FACD1D,
	#BFE76B,
	#A4D6D7,
	#6593DA,
	#8B77D2,
	#E496D4,
	#D97979,
	#E6A240
);

$box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

